body{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: #ad12b3;
}
img{
   padding: 5px 40px;
   border-radius: 50%;
   height: 40px;
   cursor: pointer;
}
nav{
   background: rgb(141, 50, 103);
   box-shadow: 0px 2px 6px rgba(179, 174, 174, 0.3);
   height: 60px;
   display: flex;
   text-align: center;
}

ul{
   display: flex;
   gap: 20px;
   list-style: none;
}

a{
   text-decoration: none;
   color: #c910ba;
   cursor: pointer;
}
a:hover{
   font-size: 18px;
}
li{
   background: white;
   height: 30px;
   width: 60px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   display: flex;
   align-items: center;
   justify-content: center;
}
li:hover{
   width: 80px;
}
span{
   background: rgb(220, 20, 113);
   color: rgb(250, 206, 126);
   padding: 2px 3px;
   font-size: 25px;
   box-shadow: 0px 2px 6px rgba(179, 174, 174, 0.3);
}
main{
   padding: 20px;
   margin: 5px 5%;
}

/*---------------------------------- Form styles -------------------------------------*/

form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
}
input{
   padding: 10px 20px;
   width: 200px;
   border: 0;
   outline: 0;
   background: #f5a6ee;
}
textarea::placeholder{
   color: #c910ba;
}
select{
   width: 70px;
   color: #c910ba;
   text-align: center;
}
textarea{
   font-size: 16px;
   padding: 5px;
   height: 150px;
   
}
button{
   margin-top: 30px;
   width: 300px;
   background: #ad12b3;
   border: 0;
   outline: 0;
   font-size: 20px;
   color: white;
   padding: 10px;
   cursor: pointer;
}


/* -------------------Table styles---------------------- */
table{
   text-align: center;
}
table, tr, td, th {
   border: 1px solid rgb(139, 12, 133);
   width: 30%;
   padding: 4px;
}